body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  align-items: center;
  padding: 5px;
}

.grid-row:nth-child(even) {
  background-color: #f7f9f9;
}

.grid-row > span {
  flex: 1 1 0;
}
.grid-row > span.state-name {
  flex: 2 1 0;
}

.grid-header {
  background-color: #cfd8dc;
}